{% extends 'songs/base.html' %}

{% block content %}

<article class="screen">
  <input type="checkbox" value="None" id="magicButton" name="check" />
  <label class="main" for="magicButton"></label>

  <div class="coverImage">
	  <img class="coverImage" src="{{songs.0.image_url}}">
  </div>
  <div class="search"></div>
  <div class="bodyPlayer"></div>
			<div class="list"><table class="list-table" id="list"></table></div>
				<div class="shadow"></div>
				
				<div class="bar"></div>
				
				<div class="info">
          			<h4 id="title">{{songs.0.title}}</h4>
					<h3 id="artist">{{songs.0.artist}}</h3>
				</div>

        <audio preload="none" id="audio" controls>
			<source src="{{songs.0.audio_file.url}}"/>
        </audio>

				<table class="player">
					<td><input type="checkbox" id="backward" onclick="backward()"/><label class="backward" for="backward"></label></td>
					<td><input type="checkbox" id="play" title="Play" onclick="togglePlayPause()"/><label class="play" for="play"></label></td>
					<td><input type="checkbox" id="forward" onclick="forward()" /><label class="forward" for="forward"></label></td>
				</table>
				
				<table class="footer">
					<td><input type="checkbox" id="love"/><label class="love" for="love"></label></td>
					<td><input type="checkbox" id="shuffle"/><label class="shuffle" for="shuffle"></label></td>
					<td><input type="checkbox" id="repeat" checked /><label class="repeat" for="repeat"></label></td>
					<td>
						<div class="dropleft">
							<button data-toggle="dropdown" href="" type="button" id="options" style="background-color:#111; border:none;"><label style="color:#6d6d6d;" class="options" for="options"></label></button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-top:-100px; text-align:left;">
								<a href="{% url 'songs:upload' %}" class="dropdown-item" ><i class="fas fa-cloud-upload-alt"></i> Upload song</a>
								<a href="{% url  'songs:download' %}" class="dropdown-item" ><i class="fab fa-youtube"></i> Get song from YouTube</a>
								<a href="{% url  'songs:manage' %}" class="dropdown-item" ><i class="fas fa-tasks"></i> Manage songs list</a>
							</ul>
						</div>
					</td>
				</table>

				
				<div class="current"><h2 id="current_title">{{songs.0.title}}</h2></div>
				
			
		</article>

<script>
	$(document).ready(function(){
		getSongs();
	});
	
	var audio = document.getElementById('audio');
	var playpause = document.getElementById("play").checked = false;
	var music;
	var currentSongId = 0;
	var lastSongId = 0;

	function getSongs() {
		$.getJSON('json_songs/', function(data) {
			music = data;
			genList();
			$('#0').css("background-color","#ff655c");
			selectSong();
		});
	}

	function genList() {
		$.each(music, function(i,song){
			$('#list').append('<tr class="song" id="'+i+'" onclick="check()"> <td class="nr"> <h5>'+(i+1)+'</h5></td> <td class="title"><h6>'+song.title+'</h6></td> <td class="length"><h5>'+secondsToMinutes(song.time_length)+'</h5></td></tr>')
		});
	}

	function secondsToMinutes(seconds) {
		d = Number(seconds);
		var h = Math.floor(d / 3600);
		var m = Math.floor(d % 3600 / 60);
		var s = Math.floor(d % 3600 % 60);

		var hDisplay = h > 0 ? h + ":" : "";
		var mDisplay = m > 0 ? m + ":" : "0:";
		var sDisplay = s > 0 ? (s < 10 ? "0" : "") + s : "00";
		return hDisplay + mDisplay + sDisplay; 
	}

	function selectSong() {
		$('tr.song').click(function(){
			currentSongId = $(this).attr('id');
			playSong();
		});
	}

	function updateTitle() {
		$('#title').text(music[currentSongId].title);
		$('#'+lastSongId).css("background-color","#222")
		$('#'+currentSongId).css("background-color","#ff655c");
		$('#artist').text(music[currentSongId].artist);
		$('#current_title').text(music[currentSongId].title);
		img_path = music[currentSongId].image_url;
		$('div.coverImage').empty();
		$('div.coverImage').append('<img class="coverImage" src="'+ img_path +'">')
		lastSongId = currentSongId;
	}

	function playSong() {
		var long = music;
		if(currentSongId >= long.length) {
			if(document.getElementById('repeat').checked == true) {
				currentSongId = 0;
				playSong();
				updateTitle();
			} else {
				audio.pause();
				document.getElementById('play').checked = false;
			}
		} else {
			updateTitle();
			var path = 'media/' + music[currentSongId].audio_file;
			$('#audio').attr('src', path);
			togglePlayPause();
			playNextSong();
		}
	}

	function togglePlayPause() {
		if (audio.paused || audio.ended ) {
			playpause.title = "Play";
			audio.play()
		} else {
			playpause.title = "Pause"
			audio.pause()
		}
	}

	function playNextSong() {
		audio.onended = function(){
			if(document.getElementById('shuffle').checked == true) {
				currentSongId = getRandomId(music.length, currentSongId);
			} else {
				currentSongId = currentSongId + 1;
			}
			playSong();
		}
	}

	function forward() {
		if(document.getElementById('shuffle').checked == true) {
				currentSongId = getRandomId(music.length, currentSongId);
		} else {
			currentSongId = currentSongId + 1;
		}
		document.getElementById('play').checked = true;
		playSong();
	}

	function backward() {
		if(currentSongId == 0) {
			currentSongId = music.length - 1;
		} else {
			currentSongId = currentSongId - 1;
		}
		document.getElementById('play').checked = true;
		playSong();
	}

	function getRandomId(length, lastId) {
		var random = 0;
		do {
			random = Math.floor(Math.random() * length);
		} while(random == lastId);
		return random;
	}

	function check() {
		document.getElementById("play").checked = true;
	}

</script>
{% endblock %}